
@{
    ViewBag.Title = "Calender";
}
<style>
    .borders {
        border: 1px solid;
        text-align: center;
        background-color: white;
    }

    .margincog {
        margin-top: -7px;
        float: right;
        cursor: pointer;
    }

    table {
        table-layout: fixed;
        word-wrap: break-word;
    }

    .Normal {
        background-color: rgb(213, 255, 249);
    }

    .emp {
    }
</style>
<div class="container">
    <table class="table">
        <thead></thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
</div>
<script src="~/Scripts/Calender.js"></script>